body {
    margin: 0;
    font-size: 16px;
}

.small-font {
    font-size: 13px;
}

header {
    width: 100%;
    height: 50px;
    background-color: #3F51B5;
    color: white;
    font-size: 16px;
}

#logo {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding-left: 60px;
    padding-top: 18px;
    text-decoration: none;
}

#logo:visited, #logo:link {
    text-decoration: none;
    color: white;
}

#logo-info {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    float: right;
    padding-top: 10px;
    padding-right: 30px;
    color: white;
    text-decoration: none;
}

a#logo-info:link {
    color: white;
    text-decoration: none;
}

a#logo-info:hover {
    text-decoration: underline;
}

a#logo-info:visited {
    color: #d0d0d0;
    text-decoration: none;
}

/* hamburger menu */
#hmenu {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 22px;
    left: 15px;
    cursor: pointer;
    display: block;
}

.hmenu_inner_line {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 40px;
    position: absolute;
    transition: .3s;
}

.hmenu_inner_1 {
    top: 0;
}

.hmenu_inner_2 {
    top: 8px;
}

.hmenu_inner_3 {
    top: 16px;
}

#hmenu.in > .hmenu_inner_1 {
    top: 8px;
    transform: rotate(45deg);
}

#hmenu.in > .hmenu_inner_2 {
    opacity: 0;
}

#hmenu.in > .hmenu_inner_3 {
    top: 8px;
    transform: rotate(-45deg);
}

/* menu list */

#nav {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: -300px;
    width: 300px;
    padding: 0;
    background: #3F51B5;
    transition: .3s;
}

#nav.in {
    transform: translateX(100%);
}

#nav ul {
    margin: 0;
    padding: 0;
}

#nav ul li {
    list-style-type: none;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
}

#nav input {
    font-size: 20px;
    color: #d0d0d0;
    background: #3F51B5;
    border: 0;
    padding-left: 15px;
    padding-bottom: 15px;
}

#nav input:focus {
    outline: 0 white solid;
}

#nav label {
    padding: 0px;
}

#nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px;
}

#nav li a:hover {
    color: #ffffff;
    background: #293575;
    border-bottom: none;
}

div#cells {
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    margin-left: 45px;
}

div#output {
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    margin-left: 30px;
    margin-bottom: 10px;
}

.codebox {
    padding: 5px;
    width: 635px;
    border: 1px solid gray;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 15px;
}

.codebox:focus {
    outline: 0px solid gray;
}

button.btn-smallscreen {
    display: none;
    font-family: 'Hiragino Sans', 'Meiryo', sans-serif;
}

button.btn-normal {
    font-size: 15px;
    font-family: 'Hiragino Sans', 'Meiryo', sans-serif;
    color: #444444;
    text-decoration: none;
    background-color: white;
    border-radius: 8px;
    border-style: solid;
    transition: .4s;
    touch-action: manipulation;

    width: 6em;
    height: 2em;
    margin: 5px 0 5px 5px;
    padding: 0.2em 1em 0.1em;
    text-align: center;
}

button.btn-normal:hover {
    background-color: #e0e0e0;
}

input#run-and-new {
    margin-left: 2em;
}

label#run-and-new-label {
    font-size: 15px;
    font-family: 'Hiragino Sans', 'Meiryo', sans-serif;
    color: #444444;
}

div#editor {
    width: 690px;
    border: 1px solid gray;
}

.CodeMirror {
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

canvas#canvas {
    background-color: white;
    border: 1px solid gray;
    touch-action: manipulation;
}

canvas#canvas:focus {
    outline: 1px solid lightgray;
}

div#bottom {
    height: 10px;
}

.helpdoc {
    font-family: 'Hiragino Sans', 'Meiryo', sans-serif;
    margin: 20px;
}

footer {
    font-family: 'Hiragino Sans', 'Meiryo', sans-serif;
    font-size: 12px;
    padding-top: 50px;
    margin: 20px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .codebox {
        border: .5px solid gray;
    }

    div#editor {
        border: .5px solid gray;
    }

    canvas#canvas {
        border: .5px solid gray;
    }
}

@media screen and (max-width: 900px) {
    header {
        height: 100px;
    }

    #logo {
        font-size: 48px;
        padding-top: 36px;
    }

    #logo-info {
        font-size: 20px;
        padding-top: 25px;
        padding-right: 30px;
    }

    #hmenu {
        top: 32px;
    }

    .hmenu_inner_line {
        width: 30px;
        height: 5px;
    }

    .hmenu_inner_1 {
        top: 0;
    }

    .hmenu_inner_2 {
        top: 12px;
    }

    .hmenu_inner_3 {
        top: 24px;
    }

    #nav {
        top: 100px;
    }

    .codebox {
        border: 2px solid gray;
    }

    button.btn-normal {
        display: none;
    }
 
    label#run-and-new-label {
        font-size: 20px;
    }

    input#run-and-new {
        display: none;
    }

    label#run-and-new-label::before {
        width: 24px;
        height: 20px;
        content: '';
        display: inline-block;
    }

    input#run-and-new:checked + label#run-and-new-label::before {
        color: #303F9F;
        content: '\2713';
    }

    div#editor {
        border: 2px solid gray;
    }

    button.btn-smallscreen {
        display: inline-block;
        width: 5.3em;
        height: 2em;
        margin: 10px 0 10px 10px;
        padding: 0.3em 1em;
        text-decoration: none;
        text-align: center;
        font-family: sans-serif;
        font-size: 30px;
        font-weight: bold;
        color: white;
        background-color: #303F9F;
        border-radius: 15px 15px 15px 15px;
        border-style: none;
        transition: .4s;
        touch-action: manipulation;
    }

    button.key {
        width: 2em;
        padding: 0.3em 0.3em;
    }

    canvas#canvas {
        border: 2px solid gray;
    }
}

