body {
    margin: 0;
    font-size: 16px;
}

header {
    width: 100%;
    height: 50px;
    background-color: #3F51B5;
    color: white;
}

#logo {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 18px;
}

#logo-info {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    float: right;
    padding-top: 10px;
    padding-right: 30px;
    color: white;
    text-decoration: none;
}

a#logo-info:hover {
    text-decoration: underline;
}

a#logo-info:visited {
    color: #d0d0d0;
    text-decoration: none;
}

div#cells {
    font-family: 'Courier', monospace;
    margin-left: 45px;
}

.codebox {
    padding: 5px;
    width: 635px;
    border: 1px solid gray;
}

button.btn-smallscreen {
    display: none;
    font-family: 'Hiragino Sans', 'Meiryo', sans-serif;
}

input[type="button"] {
    font-size: 16px;
    font-family: 'Hiragino Sans', 'Meiryo', sans-serif;
}

div#editor {
    width: 690px;
    border: 1px solid gray;
}

.CodeMirror {
    font-family: 'Courier', monospace;
}

canvas#canvas {
    background-color: white;
    border: 1px solid gray;
    touch-action: manipulation;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .codebox {
        border: .5px solid gray;
    }

    div#editor {
        border: .5px solid gray;
    }

    canvas#canvas {
        border: .5px solid gray;
    }
}

@media screen and (max-width: 900px) {
    header {
        height: 100px;
    }

    #logo {
        font-size: 48px;
        padding-top: 36px;
    }

    #logo-info {
        font-size: 20px;
        padding-top: 25px;
        padding-right: 30px;
    }

    .codebox {
        border: 2px solid gray;
    }

    input[type="button"] {
        display: none;
    }

    div#editor {
        border: 2px solid gray;
    }

    button.btn-smallscreen {
        display: inline-block;
        width: 5.3em;
        height: 2em;
        margin: 10px 0 10px 10px;
        padding: 0.3em 1em;
        text-decoration: none;
        text-align: center;
        font-family: sans-serif;
        font-size: 30px;
        font-weight: bold;
        color: white;
        background-color: #303F9F;
        border-radius: 15px 15px 15px 15px;
        border-style: none;
        transition: .4s;
    }

    button.key {
        width: 2em;
        padding: 0.3em 0.3em;
    }

    canvas#canvas {
        border: 2px solid gray;
    }
}

